<%layout("./layouts/boilerplate")-%>
<body>
    <div form-container>
        
        <div class="row">
          <div class="col-8 offset-2 ">
            <h2 class="mb-4 mt-3">Edit New Listing</h2>
            <form method="POST" action="/listings/<%=listing._id%>/edit?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
              <div  class="mb-3">
                <label for="" class="form-label ">Enter Title of Listing:</label>
                <textarea class="form-control" name="listing[title]" cols="55" rows="2" required ><%=listing.title%></textarea>
                <div class="invalid-feedback">Please enter title!</div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Enter Description of Listing: </label>
                <textarea class="form-control" name="listing[description]" cols="55" rows="3" required><%=listing.description%></textarea>
                <div class="invalid-feedback">Please enter a short description!</div>
              </div>
              <div class="mb-3">
                <p>Original Image of Listing</p>
                <a href="<%=listing.image.url%>"  ><img src="<%=originalImgUrl%>" alt="originalImg" style="border-radius: 8%;" ></a>
              </div>
              <div class="mb-3">
                <label for="Image" class="form-label">Enter Image of Listing: </label>
                <input class="form-control" type="file" name="listing[image]" placeholder="Image file" id="Image" >
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Enter Location of Listing: </label>  
                <textarea class="form-control" name="listing[location]" cols="55" rows="2" required><%=listing.location%></textarea>
                <div class="invalid-feedback">Please enter location(eg: Kanhan, Nagpur)!</div>
              </div>
              <div class="row mb-5" >
                <div class="mb-3 col-md-6">
                  <label for="" class="form-label">Enter Price of Listing:</label>  
                  <textarea  class="form-control"name="listing[price]" cols="55" rows="2" required><%=listing.price%></textarea>
                <div class="invalid-feedback">Please enter Price!</div>
              </div>
                <div class="mb-3 col-md-6">
                  <label for="" class="form-label">Enter Country of Listing: </label> 
                  <textarea class="form-control" name="listing[country]" cols="55" rows="2" required ><%=listing.country%></textarea>
                <div class="invalid-feedback">Please enter country name!</div>
              </div>
              <div class="mb-3 ">
                <label>Select Categories:</label><br/>
                    <input type="checkbox" name="listing[categories]" value="Beach">  Beach &nbsp;&nbsp;
                    <input type="checkbox" name="listing[categories]" value="City">  City &nbsp;&nbsp;
                    <input type="checkbox" name="listing[categories]" value="Nature">  Nature &nbsp;&nbsp;
                    <input type="checkbox" name="listing[categories]" value="Luxury">  Luxury &nbsp;&nbsp;
                    <input type="checkbox" name="listing[categories]" value="Adventure">  Adventure &nbsp;&nbsp;
                    <input type="checkbox" name="listing[categories]" value="Romantic">  Romantic &nbsp;&nbsp;
                    <input type="checkbox" name="listing[categories]" value="Historic">  Historic &nbsp;&nbsp;
                    <input type="checkbox" name="listing[categories]" value="Ski">  Ski &nbsp;&nbsp;
                    <input type="checkbox" name="listing[categories]" value="Wildlife">  Wildlife &nbsp;&nbsp;
              </div>
              </div>
              <button class="btn  btn-dark edit-btn mt-3">Edit</button>
            </form>
          </div>
        </div>
    </div>
</body>